[Unit]
Description=Initialize container
Before=libvirtd.service sshd.service

[Service]
Type=oneshot
PassEnvironment=ROOT_PASSWORD ROOT_PASSWORD_FILE SSHD_PORT DEBUG_MODE
ExecStart=/bin/sh /usr/bin/container_init.sh

[Install]
WantedBy=multi-user.target